AR_Messenger/.vs/
AR_Messenger/Temp/

AR_dynamic_alarm/.vs/
AR_dynamic_alarm/Temp/
AR_dynamic_alarm/Assets/HTC.UnityPlugin
AR_dynamic_alarm/Assets/Plugins
AR_dynamic_alarm/Assets/SteamVR
AR_dynamic_alarm/Assets/Viveport

CustomMessenger/.vs/
CustomMessenger/CustomMessenger/bin
CustomMessenger/CustomMessenger/obj
